<section class="orders light-section">
 <div class="container mx-auto pt-12">
     <h1 class="font-bold text-lg mb-4 px-5">All Orders</h1>
     <div class="px-8">
         <%if(messages.success){%>
        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <p><%=messages.success%></p>
        </div>
    <% } %>
    
     <table class="w-full table-auto bg-white items-center">

<tbody>
    <%if(orders.length) {%>

        <thead>
            <tr>
                <th class="px-4 py-2 text-left">Orders</th>
                <th class="px-4 py-2 text-left">Phone No</th>
                <th class="px-4 py-2 text-left">Address</th>
                <th class="px-4 py-2 text-left">Time</th>
            </tr>
        </thead>

        <%orders.forEach((order)=>{ %>
            <tr>
                <td class="border px-4 py-2 ">
                    <a href="/customers/orders/<%=order._id%>" class="link"><%=order._id%></a>
                </td>
                <td class="border px-4 py-2">
                    <%=order.phone%>
                </td>
                <td class="border px-4 py-2">
                    <%=order.address%>
                </td>
                <td class="border px-4 py-2">
                    <%=moment(order.createdAt).format('hh:mm A')%>
                </td>
            </tr>
        <%  }) %>
    
   
    <%} else {%>
     
      <div class="no-orders-found">
      
        <img src="/img/noorders.png" alt="">
        <div>Nothing Found</div>
    </div>
        <%}%>
</tbody>
     </table>
    </div>
 </div>

</section>